nav{
    background-color:#1976d2;
    padding:15px;
}

h2{
    display:inline;
    color:white;
    margin-right:40px;
}

a{
    color:white;
    margin-right:20px;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}